@use '../utils' as *;

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
	background: var(--tp-grey-2);
}

.grey-bg-2 {
	background: var(--tp-grey-4);
}

.white-bg {
	background: var(--tp-common-white);
}

.black-bg {
	background: var(--tp-common-black);
}

.theme-bg {
	background-color: #EEEFF3;
}